/* * {
    box-sizing: border-box;
  }
   */
  /* Position the image container (needed to position the left and right arrows) */
  :root
  {
    --bg-color: rgb(227,24,54);
  }
  .carousel-inner img
  {
    height: 700px;
  }

  .row{
    box-sizing: border-box;
  }
  .link-button
  {
    color: #ffffff;
    text-decoration: none ;
  }
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */

  /* Position the "next button" to the right */

  /* On hover, add a black background color with a little bit see-through */
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .home-details
  {
    font-size: large;
  }

.concat-btn
{
  border: 2px solid black;
  border-radius: 10%;
  
}
  
  /* Container for image text */
  /* .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
   */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    height: 100px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  .bid-text
  {
    color: rgb(227,24,54);
    letter-spacing: 1.1px;
    text-align: left;
    font-size: 25px;
    font-weight: bolder;
  }
  .button-bg
  {
    background-color: var(--bg-color);
    color: #ffffff;
    border-radius: 2px;
    width: 100%;
    height: 3rem;
    font-weight: bolder;
  }
  .bid-btn
  {
    border: 1px solid var(--bg-color);
    border-radius: 20px;
    float: left;
    
  }
  #footer .discription
  {
    display: none;
  }
  @media screen and (max-width:768px)
  {
    .house-card
    {
      display: block !important;
      width: 100%;
    }
    
  }
  @media screen and (min-width:769px) and (max-width:900px)  {
    .house-card
    {
      display: block !important;
      width: 100%;
    }    
  }
  