#b a:link {
    text-decoration: none;
    color: black;
    transition: all 1s;
  }
  #b
  {
    border-bottom: 2px solid black
  }
  .topnav a {
    float: left  ;
    display: block ;
    color: #f2f2f2 ;
    text-align: center ;
    padding: 14px 16px ;
    text-decoration: none ;
    font-size: 17px ;
  }

  /* .nav-link:hover {
  color: red;
} */
  a:hover {
    color: red !important;
  }

  #signUp1 {
    background-color: rgb(227, 24, 55);
    float: right;
  }
  #login
  {
    float: right;

  }

  .topnav {
    background-color: #333 ;
    overflow: hidden ;
  }

  .topnav .icon {
    display: none ;
  }
  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */
  

  @media screen and (max-width:992px) {
    .topnav a:not(:first-child){
  display: none ;
}
    /* .topnav a{
      float: left !important;
      display: block !important;
    } */
    .topnav .icon {
      float: right !important;
      display: block  !important;
    }
  }

  @media screen and (max-width:992px) {
    .topnav.responsive {
      position: relative !important;
    }

    .topnav.responsive a{
      float: none !important;
      display: block  !important;
      text-align: left !important;
    }

    .topnav.responsive .icon {
      position: absolute !important;
      right: 0 !important;
      top: 0 !important;
    }
    .modal-dialog img{
      display: none;
    }
  }